// Layout
$size-base: 8px;

// Fonts
$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-morion: Morion;

// Colour Palette
$black: #262627;
$blue-300: #0C3AF0;

// Colours
$font-color-primary: $black;
